---
layout: page
---
<article class="c-article">
  <header class="c-article__header">
    <h1 class="c-article__title">{{ page.title }}</h1>
  </header>

  <div class="c-article__main">
    {% include anchors.html html=content %}
  </div>

<!-- Add following div tag where you want show soopr share buttons -->
<div class='soopr-btn'></div>

<!-- Just before body tag add this line -->
<script async defer data-soopr-token='pt_3c7922127f46ef4aa2b340d1b94b2025' src='https://sdk.soopr.co/soopr.js'></script>
  
  <footer class="c-article__footer"></footer>
</article>
