---
layout: page
---

<article class="c-article" itemscope="" itemtype="http://schema.org/BlogPosting">
  <header class="c-article__header">
    <h1 class="c-article__title" itemprop="name">{{ page.title }}</h1>
    <p class="c-article__time">
      <small>
        <time datetime="{{ page.date | date_to_xmlschema }}"
              itemprop="datePublished">
          {{ page.date | date: "%B %-d, %Y" }}
        </time>
      </small>
      <small>{% include read_time.html post=page %}</small>
      <!--- <small><a href="#discussion">Start a discussion</a></small>
      <small><a href="{{ site.github_edit_url }}/{{ page.path }}">Edit this page</a></small> -->
    </p>
  </header>

  <!-- Post Tags -->
  <!-- <ul class="c-tags">
    {% for tag in page.tags %}
    <li class="c-tag">{{ tag }}</li>
    {% endfor %}
  </ul> -->

  <!-- Content -->
  <div class="c-article__main">

    {% if page.translated %}
      {% assign translations = page.translated.size %}
      {% if translations != 0 %}
      <div class="post-translate">
        <h4>Translated to:</h4>
        <ul>
        {% for translated in page.translated %}
          <li>
            <a class="c-article__repost" href="{{ translated.link }}" target="_blank">
              {{ translated.name }} :{{ translated.language }}:
            </a>
            {% unless forloop.last %}
              •
            {% endunless %}
          </li>
        {% endfor %}
        </ul>
      </div>
      {% endif %}
    {% endif %}

    <div class="c-article__body" itemprop="articleBody">
      {% include anchors.html html=content %}
    </div>

    <hr>

    <div class="post-share">
      <h4>Share this:</h4>
      <ul class="share-links">
        <li>
          <a href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}&text={{ page.title | url_encode }}" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}&title={{ page.title | url_encode }}" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="mailto:?subject={{ page.title | url_encode }}&body=Check out this post: {{ page.url | absolute_url }}">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
        <li>
          <button class="copy-link" onclick="copyToClipboard('{{ page.url | absolute_url }}')" title="Copy URL">
            <i class="fas fa-copy"></i>
          </button>
        </li>
      </ul>
    </div>

  </div>

  <!-- Disqus comments view -->
  {% if page.comments != false and site.disqus_id %}
  <div class="post-disqus" id="discussion">
    {% include disqus.html %}
  </div>
  {% endif %}
</article>

<script>
  function copyToClipboard(url) {
    navigator.clipboard.writeText(url).then(function() {
      alert('URL copied to clipboard!');
    }, function(err) {
      alert('Failed to copy: ' + err);
    });
  }
</script>
